.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.navLink {
  display: flex;
  padding: 15px 20px;
  border: 1px solid blue;
  color: blue;
  text-decoration: none;
}
a.active {
  border: 1px solid red;
  color: red;
  text-decoration: none;
}
